* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #2a607c;
  color: #ffffff;
  height: 250px;
  margin-bottom: 25px;
}

.main-header h1 {
  text-align: center;
  font-size: 48px;
}

.container {
  display: flex;
}

.sub-container {
  display: block;
  margin: 5px;
  padding: 15px;
  background: #2a607c;
  color: white;
  width: 25%;
  border: #fb4f14 5px solid;
  text-align: center;
}